body {
    margin: 0;
    padding: 0;
}

header,footer {
    height: 200px;
    background-color: green;
}

h2 {
    margin: 0;
    padding: 0;
}

section {
    height: 600px;
    background-color: orangered;
    width: 33.33%;
    color: white;
}

main {
    display: flex;
}

/* le @media permet de modifier la forme de la page comme pour mobile a un certain
nombre de px de ce fait la page change de sens grace a la propriété
flex-direction: column; et le width */

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
    section{
        width: 100%;
    }
}